//Font
$ff: 'Ubuntu', sans-serif;
$ff_mono: 'Roboto Mono', monospace;

//Colors
$bk: #212121;
$gy: #aaaaaa;
$lgy: #dddddd;
$llgy: #f0f1f2;
$rd: #ff0000;
$gn: #00ff00;
$be: #215485;
$be2: #6699cc;
$be3: #8FBBE6;
$yw: #FFFF00;
$vt: #895df7;
$oe: #FFC775;
$oe2: #FFE0B3;
$oe3: #BFA072;