@import "variables";
@import "functions";
@import "extends";
@import "mixins";

%btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #FFF;
	padding: 0 15px;
	height: 43px;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	border: none;
	background: $bk;
	user-select: none;
	position: relative;
	transition: .5s;
	span{
		display: block;
		width: 100%;
	}
}

%btn-icon{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
}

//default btn
.btn{
	@extend %btn;
	&_be{
		background: $be;
		&:hover{
			background: $bk;
		}
	}
}

//arrow btn
.arrow-btn{
	@extend %btn;
	padding-right: 43px;
	
	&:after{
		@extend %btn-icon;
		width: 15px;
		height: 16px;
		right: 15px;
		margin-top: -8px;
	}
}

//plus btn
.plus-btn{
	@extend %btn;
	padding-left: 55px;
	border-radius: 32px;
	
	&:after{
		@extend %btn-icon;
		width: 32px;
		height: 32px;
		left: 6px;
		margin-top: -16px;
	}
}

// github btn
.github-btn{
	@extend %btn;
	padding-left: 55px;
	background: $be2;
	&:after{
		@extend %btn-icon;
		width: 32px;
		height: 32px;
		left: 6px;
		margin-top: -16px;
	}
	&:hover{
		background: $bk;
	}
}

/*link*/
%link{
	text-decoration: none;
	border-bottom: 1px solid;
	transition: .21s;
	&:hover{
		border-bottom-color: transparent;
	}
}
.link{
	@extend %link;
	color: $be;
	border-bottom-color: $be;
}
.light-link{
	@extend %link;
	color: $be2;
	border-bottom-color: $be2;
	&_dash{
		border-bottom-style: dashed;
	}
	&_rev{
		border-bottom-color: transparent;
		&:hover{
			border-bottom-color: $be2;
		}
	}
}

/*paginate*/
.paginate{
	list-style: none;
	text-align: center;
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
	}
	&__a,
	&__curr{
		display: block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 21px;
		color: #000000;
		text-align: center;
		text-decoration: none;
	}
	&__a{
		opacity: .3;
		transition: .5s;
		&:hover{
			opacity: .7;
		}
	}
	&__prev,
	&__next{
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin: 0 7px;
		&_disabled{
			opacity: .2;
		}
	}
}